#nav_bar {
   font-family: Helvetica;
   background-color: rgb(24, 151, 168);
   color: white;
   font-size: 32px;
   display: flex;
   justify-content: space-around;
}

h1{
  padding-left: 200px;
  padding-right: 200px;
  font-family: "Lucida Console", "Courier New", monospace;
}
h2{
   padding-left: 300px;
   padding-right: 200px;
   font-family: "Lucida Console", "Courier New", monospace;
}

h3{
  text-align: center;
}

p{
   font-size: 22px;
   color: rgb(0, 0, 0);
   padding-left: 200px;
   padding-right: 200px;
   font-family: Arial, Helvetica, sans-serif;
}

label, form{
   font-size: 40px;
}
div {
   font-size: 26px;
   display: flex;
   justify-content: space-evenly;
   font-family: Arial, Helvetica, sans-serif;
}
 
#logo {
   width: 100px;
}
 
#map{
   text-align: center;
}
.items:hover {
color: darkblue;
}
 
a {
   width: 20%;
   text-align: center;
   text-decoration: none;
   color: white;
}

body {
   margin: 0px;
   background-color: lightgray;
}

#button{
padding:0.3em 1.2em;
margin:0 0.3em 0.3em 0;
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
background-color:#4eb5f1;
text-align:center;
transition: all 0.2s;
}

#button:hover {
background-color:#4095c6;
}

#button:hover {
  background-color:#4095c6;
  }
@media all and (max-width:30em){
#button{
   display:block;
   margin:0.2em auto;
   }
}


#button1{
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
  }
  
  #button1:hover {
  background-color:#4095c6;
  }
  
  #button1:hover {
    background-color:#4095c6;
    }
  @media all and (max-width:30em){
  #button1{
     display:block;
     margin:0.2em auto;
     }
  }
select{ 
  font-size: inherit;
  line-height: inherit;
}

.wrapper {
   height: 20vh;
   /*This part is important for centering*/
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .typing-demo {
   width: 22ch;
   animation: typing 2s steps(22), blink .5s step-end infinite;
   white-space: nowrap;
   overflow: hidden;
   border-right: 3px solid;
   font-family: monospace;
   font-size: 2em;
 }
 
 @keyframes typing {
   from {
     width: 0
   }
 }
     
 @keyframes blink {
   50% {
     border-color: transparent
   }
 }

.State_text {
   font-size: 60px;
}



@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #000;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: rgb(70, 102, 187);
  font-weight: heavy;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}





h3{
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer
}
h3 span{
  transition: .5s linear
}
h3:hover span:nth-child(1){
  margin-right: 5px
}
h3:hover span:nth-child(1):after{
  content: "'";
}
h3:hover span:nth-child(2){
  margin-left: 30px
}
h3:hover span{
  color:lightgray;
  text-shadow: 0 0 10px lightgray,
               0 0 20px lightgray, 
               0 0 40px lightgray;
}


.transition {
  animation: transitionIn 0.75s;
}

#map {
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from{
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to{
    opacity: 1;
    transform: rotateX(0);
  }

}
